body { overflow-x: hidden; }

* { font-family: 'Open Sans', sans-serif; }
.container { max-width: 960px; }

/* Welcome */
.tm-welcome-section {
  background: #282726;
  height: 100vh;
  text-align: center;
}

.tm-welcome-content {
  margin: 150px auto 350px;
  max-width: 650px;
}

.tm-position-relative { position: relative; }

.tm-lights-container {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.main-content{
    padding-top: 130px;
}

.hidden{
  display: none !important;
}

.card{
  background-image: url('http://paul-themes.com/html/intria/intria-demo/intria/dark/img/home-slider/slider-1.jpg');
  background-size: cover;
  height: 300px;
  /* border-radius: 5rem; */
}

.input{
    width: 50%;
    margin: auto;
}


@media screen and (max-width: 991px) {
  .tm-welcome-content { margin-bottom: 250px; }
  .tm-main-section { padding-top: 200px; }
  .light { 
    width: 240px; 
    height: auto;
  }
}

@media screen and (max-width: 767px) {

  .light-1, .light-2 { display: none; }
  .tm-lights-container { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
}

@media screen and (max-width: 650px) {
  .tm-welcome-content {  margin-bottom: 190px; }
}

@media screen and (max-width: 550px) {
  .tm-welcome-content { margin-bottom: 130px; }
}

@media screen and (max-width: 450px) {
  .tm-welcome-content { margin-bottom: 90px; }
}

@media screen and (max-width: 370px) {
  .tm-welcome-content { margin-bottom: 60px; }
}

/* Game Over */




body {background: #000000;}

#gameOverBox{
  width: 50%;
		/* height: 400px; */
		margin: auto;
		margin-top: 20px;
}


.gameover {width:500px;
			margin: auto;
			padding-top: 20px;
    }

.gameover p {margin-top: 0px;
			margin-bottom: 0px;
			font-size: 100px;
			font-family: 'Black Ops One', cursive;
			line-height: 120px;
			text-align: center;
			text-shadow: 5px 5px #000000;
			color: #ffffff;}

.continue	{
			height: auto;
			padding-top: 8px;}

.continue p {margin-top: 0px;
			margin-bottom: 0px;
			text-align: center;
			font-size: 20px;
			font-weight: bold;
			font-family: corbel;
			color: #ffffff;
			text-shadow: 2.5px 2.5px #000000;}

.opcoes {
    width: 40%;
		height: auto;
		padding-top: 50px;
		margin: auto;}

.yes span {text-align: center;
		font-size: 30px;
		font-weight: bold;
		font-family: corbel;
		color: #ffffff;
		text-decoration: none;
		text-shadow: 2.5px 2.5px #000000;
		padding: 10px 20px;
    border: 1px solid #000000;
		border-radius: 20px;
		background: #006400;
		margin-right: 30px;
		float: left;}



@-webkit-keyframes animacao2 { from {-webkit-transform: scale(1);} 
								to {-webkit-transform: scale(1.2);} }

@-moz-keyframes animacao2 { from {-moz-transform: scale(1);} 
								to {-moz-transform: scale(1.1);} }

@keyframes animacao2 { from {transform: scale(1);} 
								to {transform: scale(1.1);} }


.yes span:hover {-webkit-animation-name: animacao2;
    cursor: pointer;

		-webkit-animation-duration: 0.8s;
		-webkit-animation-timing-function:  linear;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-direction: alternate;

		-moz-animation-name: animacao2;
		-moz-animation-duration: 0.8s;
		-moz-animation-timing-function:  linear;
		-moz-animation-iteration-count: infinite;
		-moz-animation-direction: alternate;

		animation-name: animacao2;
		animation-duration: 0.8s;
		animation-timing-function:  linear;
		animation-iteration-count: infinite;
		animation-direction: alternate;}



.no span {text-align: center;
	font-size: 30px;
	font-weight: bold;
	font-family: corbel;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 1.5px 1.5px #FB3733;
	padding: 10px 20px;
	border-radius: 20px;
	background: #000000;
	float: left;}


@-webkit-keyframes animacao3 { 0% {-webkit-transform: translate(-5px,0px);} 
							   25% {-webkit-transform: translate(-2.5px, 0px);}
							   50% {-webkit-transform: translate(0px, 0px);}
							   75% {-webkit-transform: translate(2.5px, 0px);}
							   100% {-webkit-transform: translate(5px, 0px);} }

@-moz-keyframes animacao3 { 0% {-moz-transform: translate(-5px,0px);} 
							   25% {-moz-transform: translate(-2.5px, 0px);}
							   50% {-moz-transform: translate(0px, 0px);}
							   75% {-moz-transform: translate(2.5px, 0px);}
							   100% {-moz-transform: translate(5px, 0px);} }

@keyframes animacao3 { 0% {transform: translate(-5px,0px);} 
							   25% {transform: translate(-2.5px, 0px);}
							   50% {transform: translate(0px, 0px);}
							   75% {transform: translate(2.5px, 0px);}
							   100% {transform: translate(5px, 0px);} }


.no span:hover {-webkit-animation-name: animacao3;
    cursor: pointer;
		-webkit-animation-duration: 0.15s;
		-webkit-animation-timing-function:  linear;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-direction: alternate;

		-moz-animation-name: animacao3;
		-moz-animation-duration: 0.15s;
		-moz-animation-timing-function:  linear;
		-moz-animation-iteration-count: infinite;
		-moz-animation-direction: alternate;

		animation-name: animacao3;
		animation-duration: 0.15s;
		animation-timing-function:  linear;
		animation-iteration-count: infinite;
		animation-direction: alternate;}

    .high-score{

    }

    .modal {
      text-align: center;
    }
    
    @media screen and (min-width: 768px) { 
      .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
      }
    }
    
    .modal-dialog {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
    }